* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-size: 14px;
  background-color: $primary_bg_color !important;
}
html,
body {
  background-color: $primary_bg_color !important;
}
a {
  text-decoration: none;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
// * for scroll bar
::selection {
  color: $primary-color;
  background: white;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $primary_color;
}