.heading_text {
  font-size: 28px;
  font-weight: 900;
}

.title_text {
  font-size: 17px;
  font-weight: 700;
}

.currency {
  color: $secondary_color;
  font-weight: 800;
  font-size: 17px;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-500 {
  font-weight: 500;
}