.card {
  background-color: $secondary_bg_color !important;
  box-shadow: 0px 0px 1px 0px $primary_color !important;
  outline: none !important;
  border: none !important;
  border-radius: 0.2rem;
  padding: 1rem;
  .cover_image {
    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
  }
  .items {
    .item {
      padding: 0.3rem 0;
      display: flex;
      gap: 0.25rem;
      .title {
        padding-top: 0.15rem;
      }
    }
  }
}
