.details_bids{
    position: relative;
    border: .2rem solid black;
    padding: .5rem 1rem;
    .detailsRunningBids_section{
    
    .title_text{
        font-size: 1.1rem !important;
    }

    svg{
        height: 18px;
        width: 100%;
        padding-right: .3rem;
    }

    .details_bids_user{
        border: 1px dashed black;
        padding: .2rem 1rem;
    }


    .highest_bid_currency{
        position: absolute;
        bottom: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .currency{
        font-size: 14px !important;
    }
}
}